[alias]
	# View abbreviated SHA, description, branch, and history graph
	lg = log --oneline --decorate --all --graph

	# View the current working tree status using the short format
	stat = status -s

	# Pull in remote changes for the current repository and all its submodules
	pullall = !"git pull; git submodule foreach git pull origin master"

	# Commit all changes
	commitall = "!git add -A && git commit -av"

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = cyan
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1